body {
	background-color: #EEF8F1;
	text-align: center;
}

h1 {
	font-family: Georgia regular;
	color: #24292E;
}

a:visited {
	color: #992299;
}

a:hover {
	background-color: #24292E;
	color: #FFFFFF;
	text-decoration: none;
}

a:active {
	background-color: #EEF8F1;
	color: #FF0000;
	text-decoration: none;
}

.line {
	border: 0;
	background-color: #808080;
	opacity: 0.2;
}

.top {
	width: 1024px;
	height: 4px;
}

.indent {
	margin-top: 48px;
	margin-bottom: 480px;
}

.button {
	width: 480px;
	height: 48px;
	position: absolute;
	left: 50%;
	margin-left: -240px;
	box-shadow: 2px 2px 4px #A9A9A9;
	font-size: 14px;
}

.button:hover {
	box-shadow: 4px 4px 8px #C0C0C0;
}

.bottom {
	width: 640px;
	height: 1px;
}