figure {
	margin-left: 44px;
}

figcaption {
	margin-left: -44px;
}

.paragraph {
	background-color: #EEF8F1;
	margin: 10px;
	padding: 10px;
	color: #0000CD;
	text-indent: 24px;
	font-size: 104%;
	font-style: italic;
}

.raw {
	font-style: italic;
	font-weight: bold;
}

.underscore {
	text-decoration: underline;
}