figure {
	margin-left: 44px;
}

figcaption {
	margin-left: -44px;
}

q {
	font-family: Times, serif;
	font-size: 103%;
	font-style: italic;
	color: #0000CD;
}

iframe {
	margin: 3px auto 0;
}

a:link {
	text-decoration: none;
}

.accent {
	font-style: italic;
	font-weight: bold;
}

.underscore {
	text-decoration: underline;
}

.setback {
	margin: 16px 0 4px;
}

