body {
	background-color: #EEF8F1;
}

article {
	display: block;
	background-color: #F4FCF6;
	width: 960px;
	margin: 0 auto;
	padding: 8px;
}

figcaption {
	margin-top: 4px;
	font-size: 92%;
	font-style: italic;
	opacity: 0.6;
}

p {
	text-align: justify;
}

a:visited {
	color: #992299;
}

a:active {
	color: #FF0000;
	text-decoration: none;
}

.redline {
	text-indent: 24px;
}