body {
	background-color: #EEF8F1;
	margin: 0;
}

main {
	background-color: #F4FCF6;
	width: 960px;
	border: 1px solid #DCDCDC;
	border-radius: 4px;
	margin: 182.5px auto 8px;
	padding: 11px;
}

figcaption {
	margin-top: 4px;
	font-size: 92%;
	font-style: italic;
	opacity: 0.6;
}

p {
	text-align: justify;
}

a:visited {
	color: #992299;
}

a:active {
	color: #FF0000;
	text-decoration: none;
}

.fond {
	background-color: #7F9987;
	width: 100%;
	height: 348px;
	margin: -182.5px 0 0;
	position: fixed;
	z-index: -1;
}

.redline {
	text-indent: 24px;
}